// 
//  除normalize.css外自定义reset样式
//
@import "mixin";

html {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}