//
//  响应式布局，媒体查询
//

@import "variables";

.content-wrap {
  @include clearfix;

  @media (max-width: $content-width + 1) {
    width: 100%;
  }

  @media (min-width: $content-width) {
    width: $content-width;
    margin: 0 auto;
  }
}